[lepton-h100]
executor = "lepton"
container_image = "nvcr.io/nvidia/nemo:25.11.nemotron_3_nano"
node_group = "my-dgx-group"
resource_shape = "gpu.8xh100-80gb"
nodes = 4
gpus_per_node = 8

[[lepton-h100.mounts]]
path = "/shared-storage/data"
mount_path = "/data"
