[runai-h100]
executor = "runai"
container_image = "nvcr.io/nvidia/nemo:25.11.nemotron_3_nano"
cluster = "my-runai-cluster"
project = "my-team"
nodes = 4
gpus_per_node = 8
node_pool = "h100-pool"

[[runai-h100.pvc_mounts]]
name = "training-data-pvc"
mount_path = "/data"
